
<head>
    <title>Página Web de Recetas Culinarias</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="body-centering">
    <p class="Titulo">Sobre nosotros</p>
    <p class="texto" style="font-size: 20px;">Hecho por un  estudiante de la carrera de computación, cuyo trabajo de clase consiste en la unión y estructura básica de una página web utilizando JavaScript, CSS y HTML,
         en Angular y usando varios módulos NS. Hemos implementado de manera básica los métodos de estos con el estilo de los scripts CSS, la ubicación de componentes con HTML y la creación de métodos con los scripts
          de JavaScript, como los de generar una lista de recetas, registro del formulario y búsqueda.
    </p>
    <div class="centered-img-container"> <!-- Create a container for the image -->
        <img src="https://pypspanish.files.wordpress.com/2013/09/nosotros1.png?w=300&h=300" alt="Comida Ecuatoriana" class="centered-img">
    </div>
</body>
<footer class="footer">
    <p class="footer__texto">Realizado: Pablo Bravo</p>
</footer>
