<head>
    <title>Página Web de Recetas Culinarias</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="body-centering"> <!-- Use the new class for body -->
    <p class="Titulo">Recetas de comida</p>
    <div class="centered-container-image"> <!-- Use the new class for the container -->
        <div class="centered-img-container"> <!-- Create a container for the image -->
            <img src="https://images.ctfassets.net/86mn0qn5b7d0/2MitWv3bdtf8TsJ2g17jCk/28bd8e2146d8a0cf4e4912cf753efd72/iStock-1414297653.jpg?fm=jpg&fl=progressive&q=50&w=1200" alt="Comida Ecuatoriana" class="centered-img">
        </div>
    </div>
</body>

<footer class="footer">
    <p class="footer__texto">Realizado: Pablo Bravo</p>
</footer>