<html lang="es">
<head>
    <title>Página Web de Recetas Culinarias</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <button (click)="borrarTodasLasRecetas()">Borrar Recetas</button>
    <p class="recipe-title">Recetas</p>
    <h2>Recetas</h2>
<ul>
  <li *ngFor="let receta of listaRecetas | async">
    <!--<a (click)="goEditar(receta)">{{ receta.nombre }}</a>-->
    <h3 routerLink="/paginas/formulario/{{receta.nombre}}">{{receta.nombre}}</h3>
    <p>Ingredientes: {{ receta.ingredientes }}</p>
    <p>Pasos: {{ receta.pasos }}</p>
    <img [src]="receta.imagen" alt="Imagen de la receta" class="imagen-receta">
  </li>
</ul>
</body>
